.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.card-text {
  font-size: 14px;
  margin: 10px 0;
}

.btn {
  background-color: #3498db;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  color: #fff;
}

.a {
  background: url("./lin.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  font-family: "Arial", sans-serif;
}

.box {
  border: 3px solid gray;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 50%;
  background-color: white;
}
