{% extends 'base.html' %} {% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/linux.css" />
    <link rel="shortcut icon" href="fav.ico" />
  </head>

  <body>
    <div class="a">
    <div class="box">
      <h1>linux</h1>
      
      <h3>shell script 다운로드</h3>
      <a href="../static/U-130.sh" class="btn btn-primary" download>Download File</a>
      <h5> linux 서버의 취약점 진단을 위한 shell script 입니다.</h5>
      <h5>주요 정보통신 기반 시설 취약점 진단 가이드를 기준으로 제작되었으며 자동진단에서도 동일한 코드를 사용합니다.</h5>
      <h5> good, bad, log, action 디렉터리에서 각각 양호, 취약 항목, 현황, 조치방법을 확인하실 수 있습니다.</h5>
    </div>
  </body>
</div>
</html>

  {% endblock %}
