{% extends 'base.html' %} {% load static %} {% block content %}
<head>
  <style>
    .input-form {
      max-width: 680px;

      margin-top: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    }
  </style>
</head>

<div class="container">
  <div class="input-form-backgroud row">
    <div class="input-form col-md-12 mx-auto">
      <h4 class="mb-3">서버 연결 형식</h4>
      <form method="POST" enctype="multipart/form-data" class="validation-form">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name">이 름</label>
            <input name="user" class="form-control" required value="{{ user.username }}"></input>
            <div class="invalid-feedback">이름을 입력해주세요.</div>
          </div>
        </div>

        <div class="mb-3">
          <label>계정 관리</label>
          <input name="description1" class="form-control">{{ form.description1.value|default_if_none:'' }}</input>
          <div class="invalid-feedback">계정 관리 점수를 입력해주세요.</div>
        </div>

        <div class="mb-3">
          <label>서비스 관리</label>
          <input name="description2" class="form-control">{{ form.description2.value|default_if_none:'' }}</input>
        </div>
        
        <div class="mb-3">
          <label>패치 관리</label>
          <input name="description3" class="form-control">{{ form.description3.value|default_if_none:'' }}</input>
        </div>

        <div class="mb-3">
          <label>로그 관리</label>
          <input name="description4" class="form-control">{{ form.description4.value|default_if_none:'' }}</input>
        </div>

        <div class="mb-3">
          <label>보안 관리</label>
          <input name="description5" class="form-control">{{ form.description5.value|default_if_none:'' }}</input>
        </div>

        <div class="mb-3">
          <label>Report 파일 업로드</label>
          <input type="file" name="document" style="padding: 10px; display: block; margin: 0 auto" />
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">업로드</button>
      </form>
</div>
</div>
</div>

<!-- <p><a href="{% url 'index' %}">Return to home</a></p> -->
{% endblock %}